header{
    background:  url('../img/hero-bg.jpg') center/cover;
    height: 100vh;
    position: relative;
    color: white;
    .head-intro{
        position: absolute;
        width: 1120px;
        top: 50%;
        left: 50%;
        text-align: left;
        transform: translate(-50%, -50%); 
        z-index: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .head-form{
            width: 350px;
            height: 500px;
            background: white;
        }
        .head-txt{
            width: 600px;
            span, h1{
                text-transform: uppercase;
            }
            h1{
                font-size: 3.5em;
                margin: 25px 0;
            }
            span{
                letter-spacing: 2px;
            }
            p{
                margin-bottom: 30px;
                line-height: 1.5em;
                font-size: 0.9em;
            }
        }
    }
    &::before{
        content: "";
        position: absolute;
        background-color: black;
        opacity: 0.45;
        z-index: 1;
        width: 100%;
        height: 100%;
    }
}
// nav top
nav{
    position: absolute;
    z-index: 2;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    a, li{
       color: white; 
    }
}
// nav menu
.menu{
    background: rgba($color: white, $alpha: 0.1);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    margin-top: 35px;
    img{
        width: 145px;
        height: 30px;
    }
    ul{
        display: flex;    
        li{
        list-style: none;
        text-transform: uppercase;
        font-size: 0.75em;
        margin-left: 25px;
        font-weight: 600;
        }
    }
}
.top-nav{
    display: flex;
    justify-content: space-between;
    font-size: 0.75em;
    padding: 8px;
    .left{
        a{
           margin-right: 20px; 
        }
        
    }
    .right{
        a{
           margin-left: 10px; 
        }
        
    }
}
// sticky menu
.menu {
    &.sticky{
        position: fixed;
        top: 0;
        background: rgba($color: #131313, $alpha: 0.8);
        bottom: auto;
        margin: 0;
        z-index: 10;
        width: 100%;
        padding: 15px 5%;
    }
}